<div class="container">
  <h2>User: <%= @post.user.name %><br></h2><%= link_to "Profile", user_path(@post.user.id) %>
  <div class="card-deck">
    <div class="card align-items-center" style="width: 20rem;">
      <div class="card-block">
      <% if @post.image.attached? %>
          <p>
            <%= image_tag @post.image, style:'width:500px; height:500px; display: block; border-radius: 20px;' %>
          </p>
        <% end %>
        <h2><%= @post.content %></h2><br>
        <a class="nav-item nav-link btn btn-primary"<%= link_to "Add a new comment", new_post_comment_path(@post) %></a>
        <ul>
            <h3><span class="tag is-rounded"><%= @post.comments.count %> comments</span></h3><br>
            <%= render @comments %>
        </ul>
        <% if user_signed_in? && @post.user == current_user %>
        <div class="card-footer">
        <a class="nav-item nav-link btn btn-warning"<%= link_to "Edit", edit_post_path(@post) %></a>
        <% end %>
        <a class="nav-item nav-link btn btn-primary"<%= link_to "Back", posts_path(@post) %></a>
        </div>
      </div>
    </div>
  </div>
</div>
